<!DOCTYPE html>
<html>
  <head>
    <% include _head %>
  </head>
  <body>
    <% include _nav %>

    <div class="content-mid">
      <% products.forEach(function(product){ %>
        <div class="product" sku="<%= product.sku %>">
          <div class="product-img-container">
            <img class="product-img" src="<%= product.imgURL %>">
          </div>
          <div class="product-description">
            <div><%= product.name %> <%= product.price %> </div>
            <div>SKU: <%= product.sku %></div>
          </div>
          <button class="favorite-button">
            <% if(favorites.indexOf("product:" + product.sku) < 0){ %>
              <img src="images/heart_icon.png" class="grayscale">
            <% } else { %>
              <img src="images/heart_icon.png">
            <% } %>
          </button>
        </div>
      <% }) %>
    </div>
    <script type="application/javascript" src="js/add_favorite.js"></script>
  </body>
</html>